<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Input and Output</title>

    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        #container {
            text-align: center;
        }

        #codeInput {
            width: 815px;
            height: 435px;
            margin-bottom: 10px;
        }

        #output {
            border: 1px solid #ccc;
            padding: 10px;
            width: 80%;
            min-height: 100px;
        }
    </style>
</head>

<body class="bg-gray-100">
    <div id="container" class="p-8 bg-white rounded shadow-lg">
        <form action="/playground?id=<%= containerId %>" method="post">
            <textarea id="codeInput" placeholder="Enter your code here..." name="code"
                class="w-full h-full border p-2"></textarea>
            <br>
            <input type="submit" value="RUN" class="bg-blue-500 text-white px-4 py-2 rounded">
        </form>

        <h2 class="mt-4 text-lg font-semibold">Output</h2>
        <div id="output" class="border p-4 mt-2">
            <%= output %>
        </div>
    </div>
</body>

</html>